Prof. Dr. Kirenz <br/>
HdM Stuttgart

---

# Market Research Case I

- You are a market researcher in the department of company X. 
- There are three different customer segments in your market.
- You’re two top competitors are the companies Y and Z.

---

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Market-Penetration" data-toc-modified-id="Market-Penetration-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Market Penetration</a></span></li><li><span><a href="#Market-Overview-by-Customer-Segment" data-toc-modified-id="Market-Overview-by-Customer-Segment-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Market Overview by Customer Segment</a></span></li><li><span><a href="#Potential-Market-Sales" data-toc-modified-id="Potential-Market-Sales-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Potential Market Sales</a></span></li><li><span><a href="#Current-Market-Sales" data-toc-modified-id="Current-Market-Sales-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Current Market Sales</a></span></li><li><span><a href="#Current-Market-Share-by-Segment" data-toc-modified-id="Current-Market-Share-by-Segment-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Current Market Share by Segment</a></span></li><li><span><a href="#Current-Market-Units-and-Average-Price" data-toc-modified-id="Current-Market-Units-and-Average-Price-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Current Market Units and Average Price</a></span></li><li><span><a href="#Current-Market-Average-Units-and-Price-by-Brand" data-toc-modified-id="Current-Market-Average-Units-and-Price-by-Brand-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Current Market Average Units and Price by Brand</a></span></li><li><span><a href="#Current-Market-Share-by-Brand" data-toc-modified-id="Current-Market-Share-by-Brand-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Current Market Share by Brand</a></span></li></ul></div>

## Market Penetration

- a) Calculate the market penetration.	
- b) Determine the market growth opportunity.

In [1]:
# Market potential
potential_customers = 150000000
# Market volume
current_customers = 20000000

 a) Market Penetration (percentage)

In [2]:
# Market Penetration = Current Customers / Potential Customers
market_penetration = (current_customers/potential_customers)*100
print(round(market_penetration,2))

13.33

In [3]:
print('The market penetration equals', round(market_penetration,2),'%')

The market penetration equals 13.33 %

b) Growth opportunity (percentage)

In [4]:
market_growth_opp = (100 - market_penetration)
print('The market growth opportunity equals', round(market_growth_opp,2), '%')

The market growth opportunity equals 86.67 %

**Interpretation**: Only about 13% of the 150 million  potential customers are currently buying the products, leaving a large poportion (86,67%) of the market available for future growth

---

## Market Overview by Customer Segment

Calculate the growth potential for each of the user segments.

In [6]:
# Market Segments for Potential Market (pm = potential market): Number of Users
pm_first_users  = 30000000
pm_second_users = 75000000
pm_third_users  = 45000000

# Market Segments for Current Market (cm = current market): Number of Users
cm_first_users  = 6000000
cm_second_users = 13000000
cm_third_users  = 1000000

In [8]:
# % Market Penetration = Current Customers / Potential Customers 

mp_first = (cm_first_users / pm_first_users)*100
print('Market penetration of segment 1:', round(mp_first,2), '%')
  
mp_second = (cm_second_users / pm_second_users)*100
print('Market penetration of segment 2:', round(mp_second,2), '%')

mp_third = (cm_third_users / pm_third_users)*100
print('Market penetration of segment 3:',round(mp_third,2), '%')

Market penetration of segment 1: 20.0 %
Market penetration of segment 2: 17.33 %
Market penetration of segment 3: 2.22 %

---

## Potential Market Sales 

- a) Estimate potential annual sales in units for each customer segment. 
    
- b) Determine total potential sales in units for the whole market.
    
- c) Estimate annual potential sales in revenue for each customer segment.
    
- d) Determine total potential sales in revenue for the whole market.

In [10]:
 # Market Segments for Current Market: Average Units per Year 
cm_first_users_units  = 21
cm_second_users_units = 8
cm_third_users_units  = 3

# Market Segments for Current Market: Average Price Paid
cm_first_users_price  = 1.99
cm_second_users_price = 3.49
cm_third_users_price  = 4.99

a) Estimate potential annual sales in units for each customer segment.

In [12]:
# Potential Customers x Avg. number of Units per Year = Potential Market Sales in Units
# Potential Customers x Avg. number of Units per Year x Avg. Price = Potential Market Sales in Revenue

pm_first_units = (pm_first_users * cm_first_users_units)
print('First segment :', pm_first_units)
  
pm_second_units = (pm_second_users * cm_second_users_units)
print('Second segment:', pm_second_units)
  
pm_third_units = (pm_third_users * cm_third_users_units)
print('Third segment :', pm_third_units)

First segment : 630000000
Second segment: 600000000
Third segment : 135000000

b) Determine total potential sales in units for the whole market.

In [14]:
pm_units_total = pm_first_units  + pm_second_units + pm_third_units
print('Units total:', pm_units_total)

Units total: 1365000000

c) Estimate annual potential sales in revenue for each customer segment.

In [19]:
pm_first_rev = (pm_first_users * cm_first_users_units * cm_first_users_price)
print('First segment :', pm_first_rev,)
  
pm_second_rev = (pm_second_users * cm_second_users_units* cm_second_users_price)
print('Second segment:', round(pm_second_rev,0))
  
pm_third_rev = (pm_third_users * cm_third_users_units* cm_third_users_price)
print('Third segment :', round(pm_third_rev,0))

First segment : 1253700000.0
Second segment: 2094000000.0
Third segment : 673650000.0

d) Determine total potential sales in revenue for the whole market.

In [20]:
pm_rev_total = pm_first_rev  + pm_second_rev + pm_third_rev
print('Revenue total:', round(pm_rev_total,0))

Revenue total: 4021350000.0

---

## Current Market Sales

- a)	Calculate the current market sales in units by segment. 
- b)	Add up the segment results to find the total current sales in units.
- c)	Calculate the current market sales in revenue by segment. 
- d)	Add up the segment results to find the total current sales in revenue.

a) Calculate the current market sales in units by segment.

In [22]:
# Customers x Avg. number of Units per Year = Current Market Sales in Units
# Customers x Avg. number of Units per Year x Avg. Price = Current Market Sales in Revenue
  
cm_first_units = (cm_first_users * cm_first_users_units)
print('First Segment :', cm_first_units)
  
cm_second_units = (cm_second_users * cm_second_users_units)
print('Second Segment:', cm_second_units)
  
cm_third_units = (cm_third_users * cm_third_users_units)
print('Third Segment :', cm_third_units)

First Segment : 126000000
Second Segment: 104000000
Third Segment : 3000000

b) Add up the segment results to find the total current sales in units.

In [23]:
cm_units_total = cm_first_units  + cm_second_units +cm_third_units
print('Total Units:', cm_units_total)

Total Units: 233000000

c) Calculate the current market sales in revenue by segment.

In [ ]:
cm_first_rev = (cm_first_users * cm_first_users_units * cm_first_users_price)
print('First Segment :', cm_first_rev)
  
cm_second_rev = (cm_second_users * cm_second_users_units* cm_second_users_price)
print('Second Segment:', cm_second_rev)
  
cm_third_rev = (cm_third_users * cm_third_users_units* cm_third_users_price)
print('Third Segment :', cm_third_rev)

d)	Add up the segment results to find the total current sales in revenue.

In [25]:
cm_rev_total = cm_first_rev  + cm_second_rev + cm_third_rev
print('Total Revenue', cm_rev_total)

Total Revenue 628670000.0

---

## Current Market Share by Segment

Calculate the market share of each segment of the current market in terms of

- a)	customers.
- b)	units sold. 
- c)	revenue.

In [ ]:
# Segment Customers / Total Customers = Current Market Share of Customers
# Segment Units / Total Units = Current Market Share of Units
# Segment Revenue / Total Revenue = Current Market Share of Revenue

a) customers

In [ ]:
cm_first_share =  (cm_first_users / current_customers)*100
print('First Segment:', cm_first_share)
  
cm_second_share =  (cm_moderate_users / current_customers)*100
print('Moderate Buyers:', cm_mod_share)
  
cm_second_share =  (cm_occasional_users / current_customers)*100
print('Occasional Buyers:', cm_occ_share)

b) units sold

In [59]:
cm_first_unit_share =  (cm_first_units / cm_units_total)*100
print('First Buyers:',round(cm_first_unit_share,2))
  
cm_mod_unit_share =  (cm_mod_units / cm_units_total)*100
print('Moderate Buyers:', round(cm_mod_unit_share,2))
  
cm_occ_unit_share =  (cm_occ_units / cm_units_total)*100
print('Occasional Buyers:', round(cm_occ_unit_share,2))
  
#CURRENT MARKET SHARE REVENUE BY SEGMENT
print('\n')
print('MARKET SHARE BY REVENUE')  
cm_first_rev_share =  (cm_first_rev / cm_rev_total)*100
print('First Buyers:',round(cm_first_rev_share,2))
  
cm_mod_rev_share =  (cm_mod_rev / cm_rev_total)*100
print('Moderate Buyers:', round(cm_mod_rev_share,2))
  
cm_occ_rev_share =  (cm_occ_rev / cm_rev_total)*100
print('Occasional Buyers:', round(cm_occ_rev_share,2))

MARKET SHARE BY SEGMENT
Frequent Buyers: 30.0
Moderate Buyers: 65.0
Occasional Buyers: 5.0


MARKET SHARE BY UNITS
Frequent Buyers: 54.08
Moderate Buyers: 44.64
Occasional Buyers: 1.29


MARKET SHARE BY REVENUE
Frequent Buyers: 39.88
Moderate Buyers: 57.73
Occasional Buyers: 2.38

---

## Current Market Units and Average Price

- a)	Use the current market’s total sales to determine, on average, how many units each customer purchases.

- b)	Use the current market’s total sales to determine, on average, at what price each customer purchases.

a) Use the current market’s total sales to determine, on average, how many units each customer purchases.

b)	Use the current market’s total sales to determine, on average, at what price each customer purchases.

In [35]:
# Current Units per Year / Current Customers = Average number of Units per Customers 
# Current Revneue per Year / Current Units per Year = Average Price paid  
  
# AVERAGE UNITS OF ORANGE JUICE BOTTLES PER CUSTOMER
cm_units_per_customer =  cm_units_total / current_customers
print('Average number of units', cm_units_per_customer)
  
# AVERAGE PRICE PAID PER ORANGE JUICE BOTTLE
cm_rev_per_juice =  cm_rev_total / cm_units_total
print('Average price paid', round(cm_rev_per_juice,2))

Average number of units 11.65
Average price paid 2.7

---
---

**Use the Python module Pandas to solve task 7 and 8**.

In [27]:
import pandas as pd

In [28]:
df = pd.DataFrame(
   {'company' : ['X', 'Y', 'Z'],
    'customers_year': [10000000, 6000000, 4000000],
    'units_year': [90000000, 63000000, 80000000],
    'revenue_year': [429000000, 125000000, 75000000]})

In [30]:
df

  company  customers_year  units_year  revenue_year
0       X        10000000    90000000     429000000
1       Y         6000000    63000000     125000000
2       Z         4000000    80000000      75000000

## Current Market Average Units and Price by Brand

- a)	Calculate the average number of units purchased by a customer of X, Y, and Z.

a)	Calculate the average number of units purchased by a customer of X, Y, and Z.

b)	Compare these results with the general averages that you calculated in task 6.

In [43]:
# AVERAGE UNITS PER YEAR PER BRAND
df['units_per_brand'] = df['units_year']/df['customers_year']
df.head()

  company  customers_year  units_year  revenue_year  units_per_brand
0     Red        10000000    90000000     429000000              9.0
1    Blue         6000000    63000000     125000000             10.5
2  Yellow         4000000    80000000      75000000             20.0

In [63]:
# AVERAGE PRICE PAID PER BRAND
df['price'] = round(df['revenue_year']/df['units_year'],2)
df.head()

,company,customers_year,units_year,revenue_year,units_per_brand,price,customer_total,customer_share,units_total,units_share,revenue_total,revenue_share
0,Red,10000000,90000000,429000000,9.0,4.77,20000000,0.5,233000000,0.39,629000000,0.68
1,Blue,6000000,63000000,125000000,10.5,1.98,20000000,0.3,233000000,0.27,629000000,0.20
2,Yellow,4000000,80000000,75000000,20.0,0.94,20000000,0.2,233000000,0.34,629000000,0.12

---

## Current Market Share by Brand

Analyze the market share of each brand in terms of:
- a)	customers.
- b)	units.
- c)	revenue.

a)	customers.

b)	units.

c)	revenue.

In [51]:
# CUSTOMER SHARE
df['customer_total'] = df['customers_year'].sum()
df['customer_share'] = df['customers_year'] / df['customer_total']

# UNITS SHARE
df['units_total'] = df['units_year'].sum()
df['units_share'] = round(df['units_year'] / df['units_total'],2)

# REVENUE SHARE
df['revenue_total'] = df['revenue_year'].sum()
df['revenue_share'] = round(df['revenue_year'] / df['revenue_total'],2)  

df['units_per_brand'] = df['units_year'] / df['customers_year']

In [62]:
df.head()

,company,customers_year,units_year,revenue_year,units_per_brand,price,customer_total,customer_share,units_total,units_share,revenue_total,revenue_share
0,Red,10000000,90000000,429000000,9.0,4.77,20000000,0.5,233000000,0.39,629000000,0.68
1,Blue,6000000,63000000,125000000,10.5,1.98,20000000,0.3,233000000,0.27,629000000,0.20
2,Yellow,4000000,80000000,75000000,20.0,0.94,20000000,0.2,233000000,0.34,629000000,0.12